.App {
  width: 100%;
  background-color: #6F1E51;
  margin-top: 0px;
}

.App div{
  flex: 1;
  margin: auto;
}

.teamDiv{
  width: 950px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px;
}


